@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");

/* Title styling */
.front-title {
  font-size: 3.5rem;
  font-family: "Anton", sans-serif;
}

/* Main container styling */
.lap-line-tracker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #4b79a1, #283e51);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

/* Error container */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  color: #d9534f;
  text-align: center;
}

.error-message {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Back button styling */

.back-to-main {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  color: #0f1111;
  transition: transform 0.3s ease;
}

.back-to-main:hover {
  cursor: pointer;
  transform: translateX(-7px);
}

.back-to-main:active {
  transform: scale(0.95);
}

/* Loading container styling */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.2em;
  color: #333;
}

/* Spinner styling */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

/* Animation for spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
