@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: rgb(55, 50, 50);
}

.modal-content {
  background: white !important;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Anton", sans-serif;
}

.modal-close-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 20px;
}

.modal-close-button:hover {
  background-color: #c9302c;
}
