@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");

.front-title {
  font-size: 3.5rem;
  font-family: "Anton", sans-serif;
}
.select-dropdown {
  margin-top: 40px;
}
.flag-bearers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #4b79a1, #283e51);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

/* Back to main button */
.flag-bearers-container .back-to-main {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-to-main {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  color: #0f1111;
  transition: transform 0.3s ease;
}

.back-to-main:hover {
  cursor: pointer;
  transform: translateX(-7px);
}

.back-to-main:active {
  transform: scale(0.95);
}

/* Flag Selection Section */
.flag-circles-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 80%;
  flex-wrap: wrap;
  gap: 20px;
}

.flag-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative; /* Needed for flag name inside circle */
  text-align: center;
}

.flag-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.flag-circle.active-flag {
  border: 5px solid #ffffff;
  transform: scale(1.1); /* Optional: Slightly scale up the active flag */
}

.flag-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.flag-name {
  position: absolute;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: white;
}

.flag-circle .flag-name {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Current Flag Display */
.current-flag-display {
  margin-top: 20px;
}

.current-flag-display h3 {
  font-size: 1.5rem;
}

.current-flag-display p {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffd814;
}

/* Select dropdown styling */
select {
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 2px solid #ddd;
  background-color: #f5f5f5;
  color: #333;
  transition: border 0.3s ease;
  margin-top: 15px;
  width: 200px;
}

select:focus {
  outline: none;
  border: 2px solid #ffd814;
}

/* Responsive Styles for smaller screens */
@media (max-width: 600px) {
  .flag-circles-container {
    flex-direction: column;
    align-items: center;
  }

  /* .flag-circle {
    width: 100px;
    height: 100px;
    font-size: 1rem;
  } */

  select {
    width: 180px;
  }
}
div label {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffd814;
  margin-bottom: 5px;
}
