.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #4b79a1, #283e51);
    color: #ffd814;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.timer h2 {
    font-size: 3rem; /* Размер текста таймера */
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.timer small {
    font-size: 1.2rem; /* Подпись под таймером */
    color: #f0f0f0;
    margin-top: 10px;
    display: block;
    font-weight: 300;
}
