.race-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #4b79a1, #283e51);
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.race-control-title {
  font-size: 3.5rem;
  font-family: "Anton", sans-serif;
}
